.box {
    border: 3px solid yellow;
    width: 100px;
    height: 100px;
    margin: 100px 100px;
    border-radius: 50%;
    border-top-color: transparent; 
    animation-name : circulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.box {
    border: 3px solid red;
    width: 100px;
    height: 100px;
    margin: 100px 100px;
    animation-name: quadrado;
    animation-duration: 1s;

}
@keyframes circulo {
    from{
        transform: rotate(180deg)
    }
}
@keyframes quadrado {
    from{
        margin-left: 100px;
    }
    to{
        margin-left: 
    }
}